body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center; 
  
}

h1{
  color: red;
}

  
#details {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: red;
  
  

}#pg{
  justify-content:center;
  width: 25cm;
  text-align: center;
  margin-left: 5cm;
  
}